* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'smilage';
  src: url('./assets/fonts/SMILAGE_.TTF') format('truetype');
}

@font-face {
  font-family: 'guerrilla';
  src: url('./assets/fonts/GUERRILLA.ttf') format('truetype');
}

@font-face {
  font-family: 'pacifico';
  src: url('./assets/fonts/Pacifico.ttf') format('truetype');
}

h1 {
  font-family: 'guerrilla';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  transform-origin: 0%;
}

.navBar_container {
  position: fixed;
  top: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  mix-blend-mode: difference;
}

.navBar_container h1{
  color: white;
}

.navBar_container div:first-child {
  margin-left: 80px;
}

.navBar_container div:last-child {
  margin-right: 80px;
}

.hamburger_div{
  display: none;
}

.navBar_content {
  display: flex;
}

.navBar_content button:not(:first-child) {
  margin-left: 30px;
}

.navBar_btn {
  background: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.activeTab {
  border: 1.5px solid white;
  width: 100%;
}

.transition{
  width: 50%;
  height: 50%;
  background-color: #696969;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  pointer-events: none;
}

/* ==========================================================profile=============================================== */

.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.profile_container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile_card_frame {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.profileImage{
  margin-left: 40px;
}

.profile_img{
  width: 280px;
  filter: drop-shadow(5px 5px 5px #fde1c0);
}

.profile_card_title1 {
  font-size: 45px;
}

.socialWeb_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.socialWeb_container svg:first-child {
  margin-right: 10px;
}

.socialWeb_container a{
  text-decoration: none;
}

.autoScroll_container {
  display: flex;
  width: 100%;
  height: 100px;
  overflow: hidden;
  user-select: none;
  position: absolute;
  bottom: 50px;
  mix-blend-mode: difference;
}

.autoScroll_subContainer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  animation: scroll 120s linear infinite;
}

.autoScroll {
  font-size: 18px;
  color: white;
  margin: 0 10px;
}

.logoStyle {
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgba(153, 153, 153, 0.5));
  filter: grayscale(100%);
}

.reactLogo {
  top: 2%;
  left: 0%;
}

.jsLogo {
  top: 40%;
  right: 0%;
}

.htmlLogo {
  top: 40%;
  left: 5%;
}

.bootstrapLogo {
  top: 6%;
  right: 10%;
}

.npmLogo {
  top: -10%;
  left: 25%;
}

.babelLogo {
  top: 45%;
  left: 25%;
}

@keyframes scroll {
  from {
    left: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.cursor {
  background-color: #7ad863;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}


/* ==============================================================About============================================================== */

.abountMe_container2 {
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  height: 150vh;
}

.section1 {
  box-sizing: border-box;
  margin-right: 10%;
  margin-bottom: 10em;
}

.aboutMe_container {
  padding: 3em;
  width: 29em;
  height: 29em;
  background-color: #63A3D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.aboutMe_container h1{
  color: white;
}

.clip1 {
  position: absolute;
  height: 4px;
  width: 60px;
  background-color: white;
  rotate: -45deg;
  border-radius: 10px;
}

.clip2 {
  height: 4px;
  width: 60px;
  rotate: -45deg;
  position: absolute;
  background-color: white;
}

.container2 {
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  width: 40%;
  height: 70%;
}

.container2 h1 {
  margin-top: 3em;
  font-size: 2em;
  color: white;
}

.aboutMe_img {
  margin-top: 3em;
  width: 15em;
}

/* ===========================================================Education=========================================================== */

.container3 {
  flex-direction: column;
  height: 150vh;
  justify-content: flex-end;
}

.credentials_title_container {
  display: flex;
  justify-content: center;
  position: relative;
}

.credentials_title_container h1{
  color: white;
}

.credentials_title_box {
  height: 50px;
  width: 300px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.credentials_container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credentials_container div:first-child,
.credentials_container div:nth-child(3) {
  align-self: flex-start;
}

.credentials_container div:nth-child(2) {
  align-self: flex-end;
}

.credentials_container div:not(:last-child) {
  margin-bottom: 20px;
}

.credentials_layout {
  background-color: rgb(255, 214, 127);
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credentials_layout_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credentials_layout_div img {
  margin-right: 40px;
  width: 100px;
  z-index: -1;
}

.middleDiv img {
  width: 100px;
  margin-left: 40px;
}

.lastImg {
  width: 50px;
}

.skills_summery {
  position: relative;
  background-color: rgb(255, 245, 191, 0.5);
  width: 30%;
  color: black;
  padding: 20px;
  font-weight: 600;
}

.skills_summery:hover .summery_box {
  opacity: 1;
  scale: 1;
  transition-duration: 0.3s;
}

.summery_box {
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  opacity: 0;
  scale: 0;
  transition-delay: 0.5s;
  box-shadow: 0px 0px 10px black;
  font-weight: 500;
}

.skills_summery .box2 {
  rotate: 5deg;
  width: 16em;
  top: -6em;
  right: -12em;
  z-index: 0;
}

.skills_summery .box1 {
  width: 16em;
  top: -7.5em;
  right: -10em;
  z-index: 2;
}

.skills_summery .box3 {
  width: 18em;
  height: 18em;
  top: -9em;
  left: -15em;
  z-index: 2;
}

.skills_summery .box4 {
  rotate: 5deg;
  width: 17em;
  height: 17em;
  top: -7.5em;
  left: -12em;
  z-index: 0;
}

/* =============================================================================Skills============================================================================ */

.container4 {
  height: auto;
}

.skills_container {
  width: 100%;
  height: 300vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skillsTitle {
  width: 500px;
  height: 500px;
  background-color: #ff7c7c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: sticky;
}

.skillsTitle h1{
  font-size: 8em;
}

.skillsDesc {
  height: 150vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.skills_ {
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
}

.skills_:hover {
  border: 3px solid transparent;
}

.skills_ h1 {
  transition-duration: 0.5s;
}

.skills_:hover h1 {
  scale: 150%;
}

.skills_:hover #frontEndTitle {
  scale: 200%;
}

.frontEnd {
  width: 350px;
  height: 350px;
  top: 25%;
  right: 20%;
}


.skills_outline {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_outline h1 {
  text-shadow: 3px 5px 5px black;
  color: white;
}

.skills_img {
  position: absolute;
  width: 60px;
}

.htmlImg {
  top: -12%;
  left: 0;
}

.cssImg {
  top: 10%;
  left: -20%;
}

.jsImg {
  top: 45%;
  left: -25%;
}

.reactImg {
  bottom: 5%;
  left: -18%;
}

.tsImg {
  bottom: -15%;
  left: 4%;
}

.bootImg {
  top: -20%;
  left: 25%;
}

.fmImg {
  bottom: -26%;
  left: 27%;
  width: 120px;
}

.routImg {
  bottom: -16%;
  left: 67%;
  width: 120px;
}

.stateMan {
  width: 200px;
  height: 200px;
  top: 30%;
  left: 10%;
}

.reduxImg {
  top: -15%;
  right: -40%;
  filter: drop-shadow(5px 5px 1px black);
}

.testing {
  width: 250px;
  height: 250px;
  bottom: 25%;
  left: 18%;
}

.jestImg {
  top: 45%;
  left: -35%;
  filter: drop-shadow(5px 5px 1px black);
}

.RTLImg {
  bottom: -10%;
  left: -30%;
  filter: drop-shadow(5px 5px 1px black);
}

.versionCon {
  width: 200px;
  height: 200px;
  bottom: 20%;
  right: 45%;
}

.gitImg {
  right: -55%;
}

/* ===========================================================projects============================================================== */
.container5 {
  overflow: visible;
  height: auto;
  background-color: white;
}

.laptop_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  color: black;
}

.tabletImage {
  position: sticky;
  display: none;
}

.projectBox1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.project_title {
  position: absolute;
  font-family: 'smilage';
  font-weight: 500;
}

.folderBox {
  position: relative;
}

.project_folder {
  position: absolute;
  top: 180px;
  right: 55%;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.project_folder div {
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.project_folderImg {
  width: 80px;
}

.project_window {
  border: 2px solid black;
  position: absolute;
  top: 170px;
  left: 35%;
  display: flex;
}

.project_window_img {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  text-align: justify;
}

.redirection_btn {
  margin-top: 10px;
  width: 120px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.redirection_btn svg {
  margin-left: 6px;
}

/* ======================================================================preLoader======================================================= */

.preLoaderContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9d9c9;
  color: #98141c;
  animation: colorChange 3s 0.5s forwards;
}

.preLoaderText {
  font-family: "pacifico";
  font-size: 5em;
}

@keyframes colorChange {
  25% {
    background-color: #191641;
    color: #ffffff;
  }

  50% {

    background-color: #d13d31;
    color: #2a2a2a;
  }

  75% {
    background-color: #f7c4cd;
    color: #8f7240;
  }

  100% {
    background-color: #fadf00;
    color: #000000;
  }
}