* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'smilage';
  src: url('./assets/fonts/SMILAGE_.TTF') format('truetype');
}

@font-face {
  font-family: 'guerrilla';
  src: url('./assets/fonts/GUERRILLA.ttf') format('truetype');
}

@font-face {
  font-family: 'pacifico';
  src: url('./assets/fonts/Pacifico.ttf') format('truetype');
}

h1 {
  font-family: 'guerrilla';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
  transform-origin: 0%;
}

.navBar_container {
  position: fixed;
  top: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  mix-blend-mode: difference;
}

.navBar_container h1 {
  color: white;
}

.navBar_container div:first-child {
  margin-left: 80px;
}

.navBar_container div:last-child {
  margin-right: 80px;
}

.hamburger_div {
  display: none;
}

.navBar_content {
  display: flex;
}

.navBar_content button:not(:first-child) {
  margin-left: 30px;
}

.navBar_btn {
  background: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.activeTab {
  border: 1.5px solid white;
  width: 100%;
}

.transition {
  width: 50%;
  height: 50%;
  background-color: #696969;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  pointer-events: none;
}

/* ======================================================================preLoader======================================================= */

.preLoaderContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9d9c9;
  color: #98141c;
  animation: colorChange 3s 0.5s forwards;
}

.preLoaderText {
  font-family: "pacifico";
  font-size: 5em;
}

@keyframes colorChange {
  25% {
    background-color: #191641;
    color: #ffffff;
  }

  50% {

    background-color: #d13d31;
    color: #2a2a2a;
  }

  75% {
    background-color: #f7c4cd;
    color: #8f7240;
  }

  100% {
    background-color: #fadf00;
    color: #000000;
  }
}