@media screen and (max-width: 1100px) {

    .hamburger_container {
        width: 50px;
        box-sizing: border-box;
        margin-right: 30px;
        position: relative;
    }

    .hamburger_container::before,
    .hamburger_container::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: white;
        transition: all 0.1s;
    }

    .hamburger_container::before {
        top: 10px;
    }

    .hamburger_container::after {
        top: 25px;
        width: 60%;
    }

    .hamburger_container.active::before {
        rotate: 45deg;
        transform: translateY(10px);
    }

    .hamburger_container.active::after {
        width: 100%;
        rotate: -45deg;
        transform: translateY(-10px);
    }

    .hamburger_div {
        position: fixed;
        display: flex;
        align-items: center;
        background-color: rgb(65, 65, 65);
        width: 30vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translateX(-400px);
        transition: all 0.3s;
    }

    .hamburger_div.visible {
        transform: translateX(0px);
    }

    .navBar_sideMenu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    .navBar_content {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .preLoaderText {
        font-size: 3em;
    }

    .hamburger_div {
        width: 40vw;
    }

    .skillsTitle {
        width: 350px;
        height: 350px;
    }

    .skillsTitle h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 400px) and (max-height: 800px) {
    .navBar_container div:first-child {
        margin-left: 10px;
    }

    .welcomeText {
        font-size: 18px;
    }

    .hamburger_div {
        width: 60vw;
    }
}